* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth; }

.topNav {
  width: 100vw;
  padding: 5%; }

.topNav__title {
  float: left;
  width: 50%;
  text-shadow: 0px 0px 5px #27374b; }

.topNav__bell {
  float: right; }
  .topNav__bell img {
    width: 50px;
    margin: -5px; }

.topNav__bell:active {
  transform: scale(0.9); }

.topNav__burger {
  float: right;
  margin-left: 10%; }
  .topNav__burger img {
    width: 50px;
    margin: -5px; }

.topNav__burger:active {
  transform: scale(0.9); }

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #374b69; }

.bottomNav__home {
  float: left;
  height: 50px;
  margin: 10px 5%; }

.bottomNav__home:active {
  transform: scale(0.9); }

.bottomNav__scroll {
  float: right;
  height: 60px;
  width: 120px;
  margin-right: 50px; }
  .bottomNav__scroll img {
    height: 50px;
    margin-top: 10px; }
  .bottomNav__scroll img:active {
    transform: scale(0.9); }

.burgerMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.95);
  padding: 5%;
  z-index: 10; }

.burgerMenu__close {
  width: 40px;
  float: right; }

.burgerMenu__close:active {
  transform: scale(0.9); }

.burgerMenu__profile {
  float: left;
  display: flex;
  width: 75%; }
  .burgerMenu__profile img {
    width: 80px;
    padding-right: 10px; }
  .burgerMenu__profile img:active {
    transform: scale(0.9); }
  .burgerMenu__profile h3 {
    display: inline;
    padding-top: 20px; }

.burger-menu__list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .burger-menu__list ul {
    text-align: center;
    pointer-events: auto; }
    .burger-menu__list ul li {
      font-family: 'Open Sans', sans-serif;
      color: #ffffff;
      padding: 15px; }
    .burger-menu__list ul li:active {
      transform: scale(0.9); }

.burger-menu__logo {
  position: absolute;
  bottom: 5vw;
  left: 5vw; }
  .burger-menu__logo img {
    width: 40%;
    display: inline-block; }
  .burger-menu__logo p {
    display: inline-block;
    width: 50%;
    margin-left: 5%; }

.burger-menu__list--hidden {
  display: none;
  font-size: 0.8rem;
  background-color: #374b69; }

.devices {
  display: block;
  margin: 50px 0 0 5%; }

.devices__titles {
  display: flex;
  width: 95vw;
  justify-content: space-between; }

.devices__titles--view-all, .camera-devices__titles--view-less {
  margin-right: 5%;
  color: #fe8c26; }

.devices__titles--view-less, .camera-devices__titles--view-all {
  display: none;
  margin-right: 5%;
  color: #fe8c26; }

.devices__carousel, .camera-devices__carousel, .devices__carousel--1 {
  height: 22vh;
  width: 85%;
  margin: 5%; }

.camera-devices__carousel {
  display: none; }

.devices__carousel--item {
  background-color: #c4ccde;
  width: 20vh !important;
  height: 20vh !important;
  text-align: center; }
  .devices__carousel--item img {
    height: 50%;
    margin: 5px auto; }
  .devices__carousel--item h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    position: absolute;
    bottom: 0;
    color: #27374b;
    text-align: left; }

.devices__carousel--item:active {
  transform: scale(0.9); }

.devices__hidden {
  display: none;
  margin-bottom: 70px; }

.devices__view-all {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 5%; }

.camera-devices__view-all {
  display: grid;
  grid-template-columns: 35vw 55vw; }

.devices__view-all--item {
  background-color: #c4ccde;
  width: 35vw;
  height: 35vw;
  margin: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .devices__view-all--item img {
    height: 50%; }
  .devices__view-all--item h3 {
    font-family: 'Open Sans', sans-serif;
    color: #27374b;
    width: 100%;
    margin-left: 5%; }

.camera-devices__view-all--item {
  background-color: #c4ccde;
  width: 100%;
  height: 35vw;
  margin: 5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .camera-devices__view-all--item img {
    height: 50%; }
  .camera-devices__view-all--item h3 {
    font-family: 'Open Sans', sans-serif;
    color: #27374b;
    width: 100%;
    margin-left: 5%; }

.camera-devices__view-all--feed {
  margin: 5vw 0;
  padding-left: 5vw; }
  .camera-devices__view-all--feed img {
    width: 100%;
    height: 35vw; }

.devices__view-all--item:active {
  transform: scale(0.9); }

.devices-menus {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.92);
  z-index: 8; }

.devices-menus__fdca {
  display: none; }

.devices-menus__fdcb {
  display: none; }

.devices-menus__fdl {
  display: none; }

.devices-menus__hwa {
  display: none; }

.devices-menus__hwc {
  display: none; }

.devices-menus__hws {
  display: none; }

.devices-menus__gs {
  display: none; }

.devices-menu__content {
  display: grid;
  width: 100%;
  height: 85vh;
  grid-template-columns: 100vw;
  justify-items: center;
  align-content: space-around;
  text-align: center; }
  .devices-menu__content img {
    height: 80px; }
  .devices-menu__content h2 {
    margin-top: 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif; }

.devices-menu__fdca--on:active {
  transform: scale(0.9); }

.devices-menu__fdca--off:active {
  transform: scale(0.9); }

.lock-password {
  display: none;
  position: absolute;
  top: 45vh;
  left: 15vw;
  width: 70vw;
  height: 20vh;
  z-index: 10;
  background-color: #27374b; }
  .lock-password img {
    float: right;
    width: 20px;
    margin: 5% 5% 0 0; }
  .lock-password form {
    width: 100%;
    text-align: center; }

.lock-password__close:active {
  transform: scale(0.9); }

.lock-password__sumbit {
  width: 80px;
  height: 30px;
  background-color: #374b69;
  border: 0px;
  border-radius: 10px;
  color: #fe8c26;
  font-family: 'Comfortaa', cursive; }

.fdca__off {
  display: none; }

.fdca__record {
  display: none; }

.devices-menu__fdca--off {
  display: none; }

.devices-menu__fdca-record--on {
  display: none; }

.fdcb__off {
  display: none; }

.devices-menu__fdcb--off {
  display: none; }

.hwc__on {
  display: none; }

.devices-menu__hwc--on {
  display: none; }

.fdl__on {
  display: none; }

.devices-menu__fdl--on {
  display: none; }

.devices-menu__fdl-alert--off {
  display: none; }

.hwa__on {
  display: none; }

.devices-menu__hwa--on {
  display: none; }

.devices-menu__hwa-alert--on {
  display: none; }

.hws__on {
  display: none; }

.devices-menu__hws--on {
  display: none; }

.devices-menu__hws-alert--off {
  display: none; }

.gs__off {
  display: none; }

.devices-menu__gs--off {
  display: none; }

.devices-menu__gs-alert--off {
  display: none; }

.feed-contain__close {
  position: absolute;
  bottom: 9vw;
  right: 9vw;
  width: 40px;
  height: 40px; }

.feed-contain__close:active {
  transform: scale(0.9); }

.fdca-feed-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-position: #27374b;
  background-image: url("../images/front-door-view-sw.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.fdcb-feed-contain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-position: #27374b;
  background-image: url("../images/front-door-view-c-sw.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.hwc-feed-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-position: #27374b;
  background-image: url("../images/front-door-view-c-sw.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.rooms {
  display: block;
  margin: 50px 0 0 5%; }

.rooms__titles {
  display: flex;
  width: 95vw;
  justify-content: space-between; }

.rooms__titles--view-all {
  display: block;
  margin-right: 5%;
  color: #fe8c26; }

.rooms__titles--view-less {
  display: none;
  margin-right: 5%;
  color: #fe8c26; }

.rooms__carousel {
  height: 22vh;
  width: 85%;
  margin: 5%; }

.rooms__carousel--item {
  background-color: #374b69;
  width: 20vh !important;
  height: 20vh !important; }
  .rooms__carousel--item h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    position: absolute;
    bottom: 0;
    color: #c4ccde;
    text-shadow: 0px 0px 8px #27374b; }

.rooms__carousel--item:active {
  transform: scale(0.9); }

.rooms__front-door {
  background-image: url("../images/front-door.jpg");
  background-position: center;
  background-size: cover; }

.rooms__hallway {
  background-image: url("../images/hallway.jpg");
  background-position: center;
  background-size: cover; }

.rooms__garage {
  background-image: url("../images/garage.jpg");
  background-position: center;
  background-size: cover; }

.rooms__hidden {
  display: none; }

.rooms__view-all {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 5%; }

.rooms__view-all--item {
  background-color: #374b69;
  width: 35vw;
  height: 35vw;
  margin: 5vw;
  position: relative; }
  .rooms__view-all--item h3 {
    font-family: 'Open Sans', sans-serif;
    color: #c4ccde;
    text-shadow: 0px 0px 8px #27374b;
    margin-left: 5%;
    position: absolute;
    bottom: 0; }

.rooms__view-all--item:active {
  transform: scale(0.9); }

.room-heading {
  width: 100vw;
  height: 30vh;
  border-bottom: 4px solid white;
  padding: 5%; }

.room-heading__icon {
  width: 15vw;
  position: absolute;
  top: 25vh;
  left: 42.5vw; }

.add-d-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #27374b; }

.add-d-grid {
  margin-top: 5vh;
  height: 70vh;
  display: grid;
  align-content: space-evenly;
  grid-template-rows: 10vh 10vh 10vh 1vh 10vh 1vh 10vh 1vh 10vh;
  background-color: #374b69; }

.add-d-grid__item {
  align-self: center;
  margin-left: 5%;
  display: flex;
  align-items: center; }
  .add-d-grid__item h3 {
    display: inline;
    margin-left: 5%;
    font-size: 1.2rem; }
  .add-d-grid__item hr {
    border-color: #27374b;
    width: 95%;
    margin-right: 5%; }
  .add-d-grid__item img {
    height: 30px;
    display: inline; }

.add-d-grid__item:active h3 {
  transform: scale(0.9); }
.add-d-grid__item:active img {
  transform: scale(0.9); }

.add-d-grid__item--header {
  align-self: end;
  padding-top: 7vh;
  background-color: #27374b;
  padding-left: 5%; }

.settings-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #27374b; }

.settings-grid {
  margin-top: 5vh;
  height: 35vh;
  display: grid;
  align-content: space-evenly;
  grid-template-rows: 2vh 10vh 1vh 10vh 1vh 10vh;
  background-color: #374b69; }

.settings-grid__item {
  align-self: center;
  margin-left: 5%; }
  .settings-grid__item hr {
    border-color: #27374b;
    width: 95%;
    margin-right: 5%; }
  .settings-grid__item img {
    height: 45px;
    float: right;
    margin-right: 5%; }

.settings-grid__item--header {
  align-self: end;
  padding-top: 7vh;
  background-color: #27374b;
  padding-left: 5%; }

.settings-grid__item--text {
  float: left; }
  .settings-grid__item--text h3 {
    font-size: 1.2rem; }

.settings-grid__push--off, .settings-grid__text--off, .settings-grid__email--off {
  display: none; }

.front-door-contain {
  display: none;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 80px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151828+0,27374b+50,374b69+100 */
  background: #151828;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151828', endColorstr='#374b69',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.room-heading__fd {
  background-image: url("../images/front-door.jpg");
  background-position: top;
  background-size: cover; }

.hallway-contain {
  display: none;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 80px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151828+0,27374b+50,374b69+100 */
  background: #151828;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151828', endColorstr='#374b69',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.room-heading__hw {
  background-image: url("../images/hallway.jpg");
  background-position: top;
  background-size: cover; }

.garage-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151828+0,27374b+50,374b69+100 */
  background: #151828;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151828', endColorstr='#374b69',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.room-heading__g {
  background-image: url("../images/garage.jpg");
  background-position: top;
  background-size: cover; }

body {
  background-color: #27374b; }

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
  color: #ffffff; }

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  color: #c4ccde; }

h3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif; }

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #c4ccde; }

p {
  color: #c4ccde;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif; }

.contain {
  width: 100vw;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151828+0,27374b+50,374b69+100 */
  background: #151828;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151828', endColorstr='#374b69',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.section-heading {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 15vh; }

.section-heading__title {
  margin: 5%;
  width: 70%; }

.section-heading__close {
  width: 40px;
  height: 40px;
  margin: 5%; }

.section-heading__close:active {
  transform: scale(0.9); }

/*# sourceMappingURL=style.css.map */
