* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth; }

.topNav {
  width: 100vw;
  padding: 5%; }

.topNav__title {
  float: left; }

.topNav__bell {
  float: right; }
  .topNav__bell img {
    width: 35px; }

.topNav__bell:active {
  transform: scale(0.9); }

.topNav__burger {
  float: right;
  margin-left: 10%; }
  .topNav__burger img {
    width: 40px; }

.topNav__burger:active {
  transform: scale(0.9); }

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #374b69; }

.bottomNav__home {
  float: left;
  height: 50px;
  margin: 10px; }

.bottomNav__home:active {
  transform: scale(0.9); }

.bottomNav__scroll {
  float: right;
  height: 60px;
  width: 120px;
  margin-right: 50px; }
  .bottomNav__scroll img {
    height: 50px;
    margin-top: 10px; }
  .bottomNav__scroll img:active {
    transform: scale(0.9); }

.burgerMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.95);
  padding: 5%;
  z-index: 10; }

.burgerMenu__close {
  width: 40px;
  float: right; }

.burgerMenu__close:active {
  transform: scale(0.9); }

.burgerMenu__profile {
  float: left;
  display: flex;
  width: 75%; }
  .burgerMenu__profile img {
    width: 80px;
    padding-right: 10px; }
  .burgerMenu__profile img:active {
    transform: scale(0.9); }
  .burgerMenu__profile h3 {
    display: inline;
    padding-top: 20px; }

.burger-menu__list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .burger-menu__list ul {
    text-align: center;
    pointer-events: auto; }
    .burger-menu__list ul li {
      font-family: 'Open Sans', sans-serif;
      color: #ffffff;
      padding: 15px; }
    .burger-menu__list ul li:active {
      transform: scale(0.9); }

.burger-menu__list--hidden {
  display: none;
  font-size: 0.8rem;
  background-color: #374b69; }

.devices {
  display: block;
  margin: 50px 0 0 5%; }

.devices__titles {
  display: flex;
  width: 95vw;
  justify-content: space-between; }

.devices__titles--view-all {
  display: block;
  margin-right: 5%;
  color: #fe8c26; }

.devices__titles--view-less {
  display: none;
  margin-right: 5%;
  color: #fe8c26; }

.devices__carousel {
  height: 22vh;
  width: 85%;
  margin: 5%; }

.devices__carousel--item {
  background-color: #c4ccde;
  width: 20vh !important;
  height: 20vh !important; }
  .devices__carousel--item img {
    height: 50%;
    margin: 5px auto; }
  .devices__carousel--item h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    position: absolute;
    bottom: 0;
    color: #27374b; }

.devices__carousel--item:active {
  transform: scale(0.9); }

.devices__hidden {
  display: none;
  margin-bottom: 70px; }

.devices__view-all {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 5%; }

.devices__view-all--item {
  background-color: #c4ccde;
  width: 35vw;
  height: 35vw;
  margin: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .devices__view-all--item img {
    height: 50%; }
  .devices__view-all--item h3 {
    font-family: 'Open Sans', sans-serif;
    color: #27374b;
    width: 100%;
    margin-left: 5%; }

.devices__view-all--item:active {
  transform: scale(0.9); }

.devices-menus {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.92);
  z-index: 8; }

.devices-menus__fdca {
  display: none; }

.devices-menus__fdcb {
  display: none; }

.devices-menus__fdl {
  display: none; }

.devices-menus__hwa {
  display: none; }

.devices-menus__hwc {
  display: none; }

.devices-menus__hws {
  display: none; }

.devices-menus__gs {
  display: none; }

.devices-menu__content {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: 100vw;
  justify-items: center;
  align-content: space-around; }
  .devices-menu__content img {
    height: 80px; }
  .devices-menu__content h2 {
    margin-top: 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif; }

.rooms {
  display: block;
  margin: 50px 0 0 5%; }

.rooms__titles {
  display: flex;
  width: 95vw;
  justify-content: space-between; }

.rooms__titles--view-all {
  display: block;
  margin-right: 5%;
  color: #fe8c26; }

.rooms__titles--view-less {
  display: none;
  margin-right: 5%;
  color: #fe8c26; }

.rooms__carousel {
  height: 22vh;
  width: 85%;
  margin: 5%; }

.rooms__carousel--item {
  background-color: #374b69;
  width: 20vh !important;
  height: 20vh !important; }

.rooms__carousel--item:active {
  transform: scale(0.9); }

.rooms__hallway {
  background-image: url("../images/hallway.jpg");
  background-position: center;
  background-size: cover; }

.rooms__garage {
  background-image: url("../images/garage.jpg");
  background-position: center;
  background-size: cover; }

.rooms__hidden {
  display: none; }

.rooms__view-all {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 5%; }

.rooms__view-all--item {
  background-color: #374b69;
  width: 35vw;
  height: 35vw;
  margin: 5vw; }

.rooms__view-all--item:active {
  transform: scale(0.9); }

.add-d-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #27374b; }

.add-d-grid {
  margin-top: 5vh;
  height: 70vh;
  display: grid;
  align-content: space-evenly;
  grid-template-rows: 10vh 10vh 10vh 1vh 10vh 1vh 10vh 1vh 10vh;
  background-color: #374b69; }

.add-d-grid__item {
  align-self: center;
  margin-left: 5%;
  display: flex;
  align-items: center; }
  .add-d-grid__item h3 {
    display: inline;
    margin-left: 5%;
    font-size: 1.2rem; }
  .add-d-grid__item hr {
    border-color: #27374b;
    width: 95%;
    margin-right: 5%; }
  .add-d-grid__item img {
    height: 30px;
    display: inline; }

.add-d-grid__item:active h3 {
  transform: scale(0.9); }
.add-d-grid__item:active img {
  transform: scale(0.9); }

.add-d-grid__item--header {
  align-self: end;
  padding-top: 7vh;
  background-color: #27374b;
  padding-left: 5%; }

.settings-contain {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #27374b; }

body {
  background-color: #27374b; }

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
  color: #ffffff; }

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  color: #c4ccde; }

h3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif; }

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #c4ccde; }

.contain {
  width: 100vw;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151828+0,27374b+50,374b69+100 */
  background: #151828;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #151828 0%, #27374b 50%, #374b69 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151828', endColorstr='#374b69',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.section-heading {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 15vh; }

.section-heading__title {
  margin: 5%;
  width: 70%; }

.section-heading__close {
  width: 40px;
  height: 40px;
  margin: 5%; }

.section-heading__close:active {
  transform: scale(0.9); }

/*# sourceMappingURL=style.css.map */
