nav{
  position: fixed;
  bottom: 0;
  width: 100vw;
  // height: 65px;
  background-color: $color2;
}


.bottomNav__home{
  float: left;
  height: 50px;
  margin: 10px;
}

.bottomNav__home:active{
  transform: scale(0.9);
}

.bottomNav__scroll{
  float: right;
  height: 60px;
  width: 120px;
  margin-right: 50px;
  img{
    height: 50px;
    margin-top: 10px;
  }

  img:active{
    transform: scale(0.9);
  }
}
