.devices{
  margin: 50px 0 0 5%;
  height: 200px;
}

.devices__titles{
  display: flex;
  width: 95vw;
  justify-content: space-between;
}

.devices__titles--view{
  margin-right: 5%;
  color: $color3;
}

.devices__carousel{
  height: 25vh;
  width: 85%;
  margin: 5%;
}

.devices__carousel--item{
  background-color: $color2;
  width: 20vh !important;
  height: 20vh !important;
}

.devices__carousel--item{
  img{
    height: 50%;
    margin: 5px auto;
  }
  h3{
    font-family: monospace;
    margin: 5px;
    position: absolute;
    bottom: 0;
  }
}


// DEVICE MENU THEME
.devices__menus{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.9);
  z-index: 8;
}

// DEVICE MENU CLOSE BUTTON
.devices__menus--close{
  width: 40px;
  float: right;
  margin: 5%;
}


// INDIVIDUAL DEVICES MENUS
.devices__menus--fdcm{
  display: none;
}

.devices__menus--fdl{
  display: none;
}

.devices__menus--hwa{
  display: none;
}

.devices__menus--hwc{
  display: none;
}

.devices__menus--hws{
  display: none;
}

.devices__menus--gs{
  display: none;
}
