.devices{
  margin: 50px 0 0 5%;
  height: 200px;
}

.devices__titles{
  display: flex;
  width: 95vw;
  justify-content: space-between;
}

.devices__titles--view{
  margin-right: 5%;
  color: $color3;
}

.devices__carousel{
  height: 25vh;
  width: 85%;
  margin: 5%;
}

.devices__carousel--item{
  background-color: $color2;
  width: 20vh !important;
  height: 20vh !important;
}

.devices__carousel--item{
  img{
    height: 50%;
    margin: 5px auto;
  }
  h3{
    font-family: monospace;
    margin: 5px;
    position: absolute;
    bottom: 0;
  }
}


// DEVICE MENU THEME
.devices-menus{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.92);
  z-index: 8;
}


// DEVICE MENU HEADING
.devices-menu__heading{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.devices-menus__title{
  margin: 5%;
  width: 60%;
  color: $color5;
  font-size: 1.6rem;
}

.devices-menus__close{
  width: 40px;
  height: 40px;
  margin: 5%;
}


// INDIVIDUAL DEVICES MENUS
.devices-menus__fdcm{
  display: none;
}

.devices-menus__fdl{
  display: none;
}

.devices-menus__hwa{
  display: none;
}

.devices-menus__hwc{
  display: none;
}

.devices-menus__hws{
  display: none;
}

.devices-menus__gs{
  display: none;
}



// DEVICE MENU BUTTONS
.devices-menu__content{
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: 100vw;
  justify-items: center;
  align-content: space-around;
  img{
    height: 80px;
  }
  h2{
    margin-top: 5%;
    text-align: center;
  }
}
