.devices{
  display: block;
  margin: 50px 0 0 5%;
}

.devices__titles{
  display: flex;
  width: 95vw;
  justify-content: space-between;
}

.devices__titles--view-all{
  display: block;
  margin-right: 5%;
  color: $color3;
}

.devices__titles--view-less{
  display: none;
  margin-right: 5%;
  color: $color3;
}

.devices__titles--view:active{
  transform: scale(0.9);
}


// CAROUSEL SETTINGS
.devices__carousel{
  height: 25vh;
  width: 85%;
  margin: 5%;
}

.devices__carousel--item{
  background-color: $color4;
  width: 20vh !important;
  height: 20vh !important;
  img{
    height: 50%;
    margin: 5px auto;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    position: absolute;
    bottom: 0;
    color: $color1;
  }
}

.devices__carousel--item:active{
  transform: scale(0.9);
}


// VIEW ALL Settings
.devices__hidden{
  display: none;
}

.devices__view-all{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 5%;
}

.devices__view-all--item{
  background-color: $color4;
  width: 35vw;
  height: 35vw;
  margin: 5vw;
  position: relative;
  img{
    height: 50%;
    margin: 5px auto;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    position: absolute;
    bottom: 0;
    color: $color1;
  }
}

.devices__view-all--item:active{
  transform: scale(0.9);
}


// DEVICE MENU THEME
.devices-menus{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.92);
  z-index: 8;
}



// INDIVIDUAL DEVICES MENUS
.devices-menus__fdcm{
  display: none;
}

.devices-menus__fdl{
  display: none;
}

.devices-menus__hwa{
  display: none;
}

.devices-menus__hwc{
  display: none;
}

.devices-menus__hws{
  display: none;
}

.devices-menus__gs{
  display: none;
}



// DEVICE MENU BUTTONS
.devices-menu__content{
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: 100vw;
  justify-items: center;
  align-content: space-around;
  img{
    height: 80px;
  }
  h2{
    margin-top: 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
}
