.burgerMenu{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 55, 75, 0.95);
  padding: 5%;
  z-index: 10;
}

.burgerMenu__close{
  width: 40px;
  float: right;
}

.burgerMenu__close:active{
  transform: scale(0.9);
}

.burgerMenu__profile{
  float: left;
  display: flex;
  width: 75%;
  img{
    width: 80px;
    padding-right: 10px;
  }
img:active{
  transform: scale(0.9);
}
  h3{
    display: inline;
    padding-top: 20px;
  }
}

.burger-menu__list{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  ul{
  text-align: center;
  pointer-events: auto;
    li{
      font-family: 'Open Sans', sans-serif;
      color: $color5;
      padding: 15px;
    }
    li:active{
      transform: scale(0.9);
    }
  }
}

.burger-menu__logo{
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  pointer-events: none;
  img{
    width: 40%;
    display: inline-block;
  }
  p{
    display: inline-block;
    width: 50%;
    margin-left: 5%;
  }
}


// HIDDEN LIST ITEMS
.burger-menu__list--add, .burger-menu__list--help{
  display: none;
  font-size: 0.8rem;
  background-color: $color2;
}


// TUTORIAL SCREEN
.tutorial-contain{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $color1;
}

.tutorial-close{
  width: 40px;
  position: absolute;
  top: 5vw;
  right: 5vw;
}

.tutorial-title{
  width: 100vw;
  height: 100vh;
}

.tutorial-1, .tutorial-2, .tutorial-3, .tutorial-4, .tutorial-5, .tutorial-6, .tutorial-7, .tutorial-8, .tutorial-9{
  display: none;
  width: 100vw;
  height: 100vh;
}
