.topNav{
  width: 100vw;
  padding: 5%;
}

.topNav__title{
  float: left;
}

.topNav__bell{
  float: right;
  img{
    width: 35px;
  }
}

.topNav__bell:active{
  transform: scale(0.9);
}

.topNav__burger{
  float: right;
  margin-left: 10%;
  img{
    width: 40px;
  }
}

.topNav__burger:active{
  transform: scale(0.9);
}
