.heading{
  width: 100vw;
  padding: 5%;
}

.heading__title{
  float: left;
  width: 50%;
  text-shadow: 0px 0px 5px $color1;
}

.heading__bell{
  float: right;
  img{
    width: 50px;
    margin: -5px;
  }
}

.heading__bell:active{
  transform: scale(0.9);
}

.heading__burger{
  float: right;
  margin-left: 10%;
  img{
    width: 50px;
    margin: -5px;
  }
}

.heading__burger:active{
  transform: scale(0.9);
}
