// PARTIALS
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'topNav';
@import 'bottomNav';
@import 'menu';
@import 'devices';
@import 'rooms';
@import 'add-d';
@import 'settings';
@import 'room-fd';
@import 'room-hw';
@import 'room-g';
@import 'devices-pages';



body{
  background-color: $color1;
}


// FONTS

h1{
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
  color: $color5;
}

h2{
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  color: $color4;
}

h3{
  color: $color5;
  font-family: 'Open Sans', sans-serif;
}

h4{
  font-family: 'Open Sans', sans-serif;
  color: $color4;
}

p{
  color: $color4;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

// CONNTENT CONTAINER for home page
.contain{
  width: 100vw;
  min-height: 100vh;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151828+0,27374b+50,374b69+100 */
  background: #151828; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #151828 0%, #27374b 50%, #374b69 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #151828 0%,#27374b 50%,#374b69 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #151828 0%,#27374b 50%,#374b69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151828', endColorstr='#374b69',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



// SECTION HEADINGS this contains reusable code so that all different heading sections of this interface have the same structure
.section-heading{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 15vh;
}

.section-heading__title{
  margin: 5%;
  width: 70%;
}

.section-heading__close{
  width: 40px;
  height: 40px;
  margin: 5%;
}

.section-heading__close:active{
  transform: scale(0.9);
}
